/* ----------- */
/* Variables   */
/* ----------- */

/* Colors */
:root 
{
    --primary-color: #2c2c2c;
    --secondary-color: #becbd1;
    --tertiary-color: #416fb6;
    --quaternary-color: #1954ad;
}