/* ------------ */
/* General CSS  */
/* ------------ */
@import './partials/_variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--primary-color);
}